activemq {
    org.apache.activemq.artemis.spi.core.security.jaas.LDAPLoginModule required
        debug=true
        initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
        connectionURL="ldap://ldap.local"
        connectionUsername="cn=admin,dc=redhat,dc=local"
        connectionPassword="admin"
        connectionProtocol=""
        authentication=simple
        userBase="ou=people,dc=redhat,dc=local"
        userSearchMatching="(&(objectClass=person)(cn={0}))"
        userSearchSubtree=false
        roleBase="ou=groups,dc=redhat,dc=local"
        roleName=cn
        roleSearchMatching="(uniqueMember={0})"
        ;
};

